// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #53A009,
  "secondary": #9ba8a0,
  "dark": #05386b,
  "light": #fafafa,
);
$body-bg: #ffffff;
$enable-caret: false;
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';


.nav-link:hover {
    color: #15be61 !important;
}

.custom-select {
    border-radius: 0;
}

.draft-edit-btn:hover {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}

.shadow-custom {
    box-shadow: 0 1px 4px 0 #80808091;
}

