// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #53A009,
  "secondary": #9ba8a0,
  "dark": #05386b,
  "light": #fafafa,
);
$body-bg: #ffffff;
$enable-caret: false;
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';


.nav-link:hover {
    color: #15be61 !important;
}

.custom-select {
    border-radius: 0;
}

